<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UrlTelaMatematica"
         value="http://localhost/Suite/TestesPhiSuite/Web_Calculadora.html" />
    <add key="Chrome"
         value="..\..\..\Drivers\Chrome Driver\" />
    <add key="InternetExplorer"
         value="..\..\..\Drivers\IE Driver\"/>
    <add key="Edge"
         value="..\..\..\Drivers\Edge Driver\"/>
    <add key="Firefox"
         value="..\..\..\Drivers\Firefox Driver\"/>
    <add key="PhantomJS"
         value="..\..\..\Drivers\PhantomJS\bin\"/>
  </appSettings>
</configuration>