<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UrlTelaBasicObjects"
         value="http://localhost/Selenium_PhiSuite/BasicObjects.html" />
    <add key="UrlTelaInterfaceObjects"
         value="http://localhost/Selenium_PhiSuite/InterfaceObjects.html" />
    <add key="UrlTelaAdvancedObjects"
         value="http://localhost/Selenium_PhiSuite/AdvancedObjects.html" />
    <add key="UrlTelaAlarmsObjects"
         value="http://localhost/Selenium_PhiSuite/Alarms.html" />
    <add key="UrlTelaChartObjects"
         value="http://localhost/Selenium_PhiSuite/Charts.html" />
    <add key="Chrome"
         value="..\..\..\Drivers\Chrome Driver\" />
    <add key="InternetExplorer"
         value="..\..\..\Drivers\IE Driver\"/>
    <add key="Edge"
         value="..\..\..\Drivers\Edge Driver\"/>
    <add key="Firefox"
         value="..\..\..\Drivers\Firefox Driver\"/>
    <add key="PhantomJS"
         value="..\..\..\Drivers\PhantomJS\bin\"/>
  </appSettings>
</configuration>